.nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s linear;
    padding-right: 15px;


}
.nav_black {
    background-color: rgba(20, 20, 20, 1);
}
.nav img {
    width: 30px;
    object-fit: contain;
}
.nav_logo {
    width: 100px !important;
}